<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
<%= f.text_area :content, placeholder: "Publica nueva venta..." %>
	<%= f.label "Precio" %>
	<%= f.text_field :precio, class: 'form-control' %>
	<%= f.label "Cantidad" %>
	<%= f.text_field :cantidad, class: 'form-control' %>
</div>
<%= f.submit "Publicar Venta", class: "btn btn-primary" %>
<% end %>