
<div class="field">Producto: </div>
<%= @micropost1.id%>
<div class="field">Cantidad disponible: </div>
<%= @micropost1.cantidad%>
<div class="field">Precio: </div>
<%= @micropost1.precio%>
<br>

<%= form_for(@micropost2) do |f| %>

<div class="field">

	<%= f.text_field :id_micropost, value:@micropost1.id, type:"hidden" %>
	<%= f.text_field :content, value: @micropost1.content, type:"hidden" %>
	<%= f.text_field :precio,value:@micropost1.precio, type:"hidden" %>
	<%= f.label "Cantidad" %>
	<%= f.text_field :cantidad, class: 'form-control' %>
	<%= f.label "Tipo de publicacion" %>
	<%= f.text_field :tipo, value:"compra", type:"hidden" %>
</div>
<%= f.submit "ComprarS", class: "btn btn-primary" %>

<% end %>
